<li id="<%= feed_item.id %>">
	
  <span class="user">
  	<% if !current_user?(feed_item.user) %>
       <%= link_to feed_item.user.name, feed_item.user %>
    <% else %>
       One of my posts:
    <% end %>
  </span>
  
  <span class="content"><%= wrap(feed_item.content) %></span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  
  <% if current_user?(feed_item.user) %>
        <%= render 'microposts/delete_micropost', object: feed_item %>
  <% end %>
  
</li>